
/* Jumbo Styles */
.jumbotron {
    background-color: #3f51b5;
    color: white;
}

/* Footer styles */

.footer {
    background-color: #3f51b5;
    margin-top: 5rem;
    color:white;
}

.footer-element {
    margin: 2rem;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #f50057;
}


/* Book Card Styles */
.book-card {
    flex: 1 20rem;
    margin: 1rem;
    justify-content: space-between;
}

.book-card-title {
    margin: 0;
}

.book-card-body {
    margin-top: 1rem;
    height: auto;
}

/* Button Styles */

.btn-buy-book {
    background-color: #f50057;
    color: white;
    width: 100%;
}